body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.voltar-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.voltar-button:hover {
    background-color: #0056b3;
}

.main-title {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagamentos-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.pagamentos-table th, .pagamentos-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pagamentos-table th {
    background-color: #f2f2f2;
}

.pagamentos-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagamentos-table tr:hover {
    background-color: #f1f1f1;
}
